* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding: 0;
  font-family: "Calibri";
}
a {
  text-decoration: none;
}
.clear {
  clear: left;
}
a, btn {
  transition: all 0.3s ease;
}

.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.ekstra-1 {
  background-image: url("img/main.png");
  background-size: cover;
  height: 670px
}
.ekstra-1-container {
  line-height: 20px;
  color: white;
  padding: 180px 0 100px 0;
}
.ekstra-1-container span {
  color: #ffb800;
}
.halo {
  font-size: 52px;
  opacity: 0.9;
  letter-spacing: 2px;
  font-weight: bold;
}
.ekstra-1-container p {
  font-size: 20px;
  opacity: 0.8;
}
.btn {
  padding: 10px 28px 10px 28px;
  color:white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 5px;
}
.btn-ekstra-1 {
  border-style: solid;
  border-color: #ffb800;
}
.btn-ekstra-1:hover {
  border-style: solid;
  border-color: #f1f1f1;
}
.ekstra-1-menu {
  width: 100%
  height: 150px;
  margin-top: 50px;
}
.menu {
  float:left;
  display: inline-block;
  padding:10px 10px 10px 10px;
  width: 33%;
  background-color: rgba(128,128,128,0.5);
  color: white;
}

.menul{
  border-radius: 10px 0px 0px 10px;
  float:left;
  display: inline-block;
  padding:10px 10px 10px 10px;
  width: 33%;
  background-color: rgba(128,128,128,0.5);
  color: white;
}

.menur{
  border-radius: 0px 10px 10px 0px;
  float:left;
  display: inline-block;
  padding:10px 10px 10px 10px;
  width: 33%;
  background-color: rgba(128,128,128,0.5);
  color: white;
}

.menu-icon {
  float:left;
}
.menu-content {
  float: left;
}
.menu-content h1 {
  font-size: 16px;
  letter-spacing: 2px;
}
.menu-content p {
  font-size: 14px;
}

.nav{
  top: 0;
  z-index: 30;
  background-color: rgba(34, 49, 52, 0.3);
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
}
header{

  transition: all 0.5s;
}

.head-right{
  float: right;
  margin-top: 36px;
}

.bars{
  float: right;
  display: none;
}


.head-left{
  float: left;
}

.head-right a{
  color: white;
  float: left;
  display: block;
  padding: 0 40px;
  line-height: 40px;
  font-weight: bold;
}
.logo {
  padding-top: 20px;
}

.head-right a:hover{
  color: #FFB800;
}

.head-right a.aktif{
  color: #FFB800;
}

.heading {
  padding-top: 10px;
  padding-bottom: 30px;
}

.heading h1 {
  font-weight: bold;
  color: #FFB800;
}

.heading p {
  font-size: 24px;
  font-weight: normal;
  color: black;
}




.profile-wrapper {
  width: 100%;
  text-align: center;
  padding: 60px 0px;

}
.profiles{
  display: flex;
}
.profile {
  width: 20%;
  flex: auto;
  padding: 20px;
}
.btn-profil {
  background-color: #FFB800;
  box-shadow: 0 7px #C48D10;
  cursor: pointer;
}

.btn-profil:hover {
  background-color: #FFBA31;
}

.btn-profil:active{
  position: relative;
  top: 3px;
  box-shadow: none;
}

.profile-icon {
  position: relative;
}

.profile-icon h3 {
  position: absolute;
  top: 100%;
  width: 100%;
  color: #FFB800;
  font-weight: bold;
  font-size: 20px;
}

.pekerjaan {
  width: 100%;
  display: inline-block;
  margin-top: 60px;
  font-size: 18px;
  color: black;
}

.asal {
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
  color: black;
}

.ekstra-2 {
  height: 311px;
  background-color: #ffb800;
  margin-top: 50px;
}
.ekstra-2 img {
  float: left;
  width: 500px;
  margin-top: 100px;
}
.ekstra-2-content {
  line-height: 10px;
  float: right;
  padding-right: 15px;
  margin-top: 100px;
  color: black;
}
.ekstra-2-content h4 {
  font-weight: bold;
  font-size: 36px;
}


footer {
  width: 100%;
  height: 150px;
  padding-top: 40px;
  padding-left: 15px;
  background-color: grey;
}
footer img {
  float: left;
}

